@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin:0;
  font-family: 'Oswald', sans-serif;
  padding:0;
  background: #fafaf9; /*light mode background*/
  color: #121212; /*light mode text color*/
}
@media (prefers-color-scheme: dark) {
  html, body {
    background: #1C1917; /*dark mode background*/
    color: #fafaf9; /*dark mode text color*/
  }

}
@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('/fonts/Oswald-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@layer utilities {
   @keyframes blink {
    0%, 100%{
      opacity:1
    }
    50% {
      opacity:0
    }
  }
  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-blink {
    animation: blink 1s step-start infinite;
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
/* Terminal Box Styling */
/* Command text (green) */
.command-text {
  color: #00ff00; /* bright green for commands */
}

/* Output text (white) */
.output-text {
  color: #ffffff;
}

/* Blinking cursor */
.cursor {
  display: inline-block;
}

.blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0; }
}

/* Terminal box styling */
.terminal-box {
  background-color: #000; /* black background */
  box-shadow: 0 4px 20px rgba(195, 192, 192, 0.4);
  border-top: 20px solid #cbcbcb; /* thick top border */
  font-family: monospace;
  min-height: 200px;
  max-width: 300px;
  line-height: 1.5rem;
  padding: 1rem; /* content padding */
  border-radius: 0.5rem; /* rounded corners */
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  overflow: visible; /* allow buttons to sit above border */
}

/* Terminal window buttons */
.terminal-box::before {
  content: "";
  position: absolute;
  top: -15px; /* move higher above the thick border */
  left: 1rem;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5f56; /* red button */
  box-shadow:
    20px 0 0 0 #ffbd2e,   /* yellow button */
    40px 0 0 0 #27c93f;   /* green button */
}
.terminal-box::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1; /* behind the box */
  border-radius: 0.5rem;
  background: white;
  filter: blur(15px);
}