@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  background: #FBFBFF; /*light mode background*/
  color: #121212; /*light mode text color*/
}
@media (prefers-color-scheme: dark) {
  html, body {
    background: #111827; /*dark mode background*/
    color: #FBFBFF; /*dark mode text color*/
  }

}
@layer utilities {
   @keyframes blink {
    0%, 100%{
      opacity:1
    }
    50% {
      opacity:0
    }
  }
  @keyframes loading {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-blink {
    animation: blink 1s step-start infinite;
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}
.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}